/* General */
[data-title] {
    cursor: help;
}

body {
    --watching-color: #2db039;
    --completed-color: #26448f;
    --onhold-color: #f9d457;
    --dropped-color: #a12f31;
    --plantowatch-color: #c3c3c3;
}

.container-max {
    max-width: 1600px;
    min-width: 1400px;
    margin: 0 auto;
}

hr {
    margin: 1rem 0;
    border-top: 2px solid hsl(0, 0%, 90%);
}

/* Text and button colours */
.text-watching {
    background: var(--watching-color) !important;
    color: #fff;
}

.text-completed {
    background: var(--completed-color) !important;
    color: #fff;
}

.text-onhold {
    background: var(--onhold-color) !important;
    color: #fff;
}

.text-dropped {
    background: var(--dropped-color) !important;
    color: #fff;
}

.text-plantowatch {
    color: hsl(0, 0%, 20%);
    background: var(--plantowatch-color) !important;
}

.text-success {
    color: var(--watching-color) !important;
}

.text-warning {
    color: var(--onhold-color) !important;
    filter: contrast(80%) saturate(200%);
}

.text-danger {
    color: var(--dropped-color) !important;
    filter: contrast(80%) saturate(200%);
}

.bg-primary, .bg-completed {
    color: #fff;
    background-color: var(--completed-color) !important;
}

.bg-secondary, .bg-plantowatch {
    background-color: var(--plantowatch-color) !important;
}

.bg-warning, .bg-onhold {
    background-color: var(--onhold-color) !important;
}

.bg-danger, .bg-dropped {
    color: #fff;
    background-color: var(--dropped-color) !important;
}

.bg-watching {
    color: #fff;
    background-color: var(--watching-color) !important;
}

.btn {
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out,
                filter 0.15s ease-in-out;
    box-shadow: none !important;
}

.btn-group .btn {
    margin: 0 !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn:disabled {
    color: hsl(0, 0%, 20%);
    background-color: var(--plantowatch-color) !important;
    border-color: var(--plantowatch-color) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: var(--completed-color) !important;
    border-color: var(--completed-color) !important;
}

.btn:hover {
    filter: brightness(80%) contrast(120%);
}

.btn:active {
    filter: brightness(70%) contrast(130%);
}

.btn-disabled {
    opacity: 0.5 !important;
}

.form-control:focus, .custom-select:focus {
    border-color: var(--completed-color);
    box-shadow: none;
}

/* Table */
tbody tr {
    height: 50px;
    transition: background 0.15s ease-in-out;
}

tbody tr:hover {
    background-color: hsl(0, 0%, 85%) !important;
}

.table th {
    padding-right: 1.25rem;
}

th.d-flex {
    display: table-cell !important;
}

tr.missing-locally {
    background-color: hsl(0, 0%, 90%) !important;
    background-image: linear-gradient(-45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent) !important;
    background-size: 25px 25px;
}

td {
    border: none !important;
    position: relative;
}

td:first-child {
    padding-left: calc(37px + 0.75rem) !important;
}

.anime-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    width: 37px;
}

.d-flex button {
    flex-grow: 1 !important;
}

table .progress {
    height: 4px;
    border-radius: 2px;
}

/* DataTables */
.dataTables_filter {
    display: none;
}

.dataTables_paginate {
    margin: 1rem 0;
    text-align: center;
}

.dataTables_paginate .btn, .dataTables_paginate .ellipsis {
    margin: 0 0.25rem;
}

.dataTables_paginate .btn-info {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.sorting,
.sorting_asc,
.sorting_desc,
.sorting_asc_disabled,
.sorting_desc_disabled {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    filter: saturate(2000%) grayscale(100%)
}

.sorting {
    background-image: url("https://cdn.datatables.net/v/dt/dt-1.10.16/DataTables-1.10.16/images/sort_both.png");
}

.sorting_asc {
    background-image: url("https://cdn.datatables.net/v/dt/dt-1.10.16/DataTables-1.10.16/images/sort_asc.png");
}

.sorting_desc {
    background-image: url("https://cdn.datatables.net/v/dt/dt-1.10.16/DataTables-1.10.16/images/sort_desc.png");
}

.sorting_asc_disabled {
    background-image: url("https://cdn.datatables.net/v/dt/dt-1.10.16/DataTables-1.10.16/images/sort_asc_disabled.png");
}

.sorting_desc_disabled {
    background-image: url("https://cdn.datatables.net/v/dt/dt-1.10.16/DataTables-1.10.16/images/sort_desc_disabled.png");
}

/* Ratings gallery */
#ratings-gallery > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

#ratings-gallery > div > div {
    position: relative;
    display: flex;
    flex-direction: column;
}

#ratings-gallery a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#ratings-gallery .image {
    height: calc(100px * 1.55);
    background-size: cover;
    background-position: center;
}

#ratings-gallery .missing-locally {
    opacity: 0.3;
    transition: opacity 0.15s ease-in-out;
}

#ratings-gallery .missing-locally:hover {
    opacity: 1;
}