html,
body,
noscript .container,
noscript .row {
    height: 100%;
}

[data-title] {
    cursor: help;
}

body {
    --primary-color: #2e51a2;
    --primary-color-hover: #1b3060;

    --secondary-color: #e1e7f5;
    --secondary-color-hover: #c8d3ed;

    --border-color: hsl(0, 0%, 80%);

    --row-color: hsl(0, 0%, 95%);
    --row-color-hover: hsl(0, 0%, 90%);

    background: #fff;
}

.container-fluid {
    min-width: 1400px;
}

.container-limited {
    max-width: 1400px;
    min-width: 1400px;
}

hr {
    border-top: 1px solid var(--border-color);
}

/* Text */

h1 {
    font-size: 1.25rem;
    margin: 0;
}

.text-muted {
    color: hsl(0, 0%, 50%) !important;
}

/* Links */

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

/* Progress bars */

.progress.bg-secondary {
    background: var(--border-color) !important;
}

.progress-bar.bg-primary {
    background: var(--primary-color) !important;
}

/* Buttons */

.btn:focus,
.btn:active {
    box-shadow: none !important;
}

.btn-primary {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
}

.btn-secondary {
    color: var(--primary-color);
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--primary-color-hover) !important;
    background: var(--secondary-color-hover) !important;
    border-color: var(--secondary-color-hover) !important;
}

.btn[disabled] {
    pointer-events: none;
}

.btn[disabled]:not(.btn-blank) {
    color: #fff !important;
    background: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

/* Message box */

#message {
    border-radius: 0.25rem 0 0 0 ;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 300;
    transform: translateY(100%);
    transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
}

#message.show {
    transform: translateY(0);
}