html,
body,
noscript .container,
noscript .row {
    height: 100%;
}

[data-title] {
    cursor: help;
}

body {
    --border-color: hsl(0, 0%, 80%);
    --border-color-half: hsla(0, 0%, 80%, 0.25);

    --row-color: hsl(0, 0%, 95%);
    --row-color-hover: hsl(0, 0%, 90%);

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.container-fluid {
    min-width: 1400px;
}

.container-limited {
    max-width: 1400px;
    min-width: 1400px;
}

.btn, .badge {
    box-shadow: none !important;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

/* Progress bars */

.progress.bg-secondary {
    background: var(--border-color) !important;
}

/* Message box */

#message {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    opacity: 0;
    transition: opacity 0.15s ease-in-out, background 0.15s ease-in-out;
    white-space: pre-wrap;
    text-align: center;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 1.25rem;
    backdrop-filter: blur(10px);
}

#message.bg-black {
    background: rgba(0, 0, 0, 0.75);
}

#message.show {
    opacity: 1;
}

/* Last updated times data */
#updated {
    margin: 2rem auto;
    padding: 0;
    list-style: none;
}
