.fnheader {
    background: linear-gradient(to right, rgba(130, 180, 50, 0.75), rgba(80, 160, 240, 0.75));
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 200;
    backdrop-filter: blur(var(--blur-amount));
}

.fnheader h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    font-family: inherit;
}

.fnheader h1 a {
    margin-left: 0.5rem;
    color: #fff;
}

.fnheader h1 a:hover {
    text-decoration: underline;
}
