.gallery {
    --img-size: 140px;
}

.gallery img {
    height: calc(var(--img-size) * 1.4);
    pointer-events: none;
}

.gallery .not-downloaded {
    opacity: 0.3;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -0.5rem;
}

.gallery-item {
    flex: 0 0 var(--img-size);
    width: var(--img-size);
    margin: 0.5rem;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.gallery-item:hover {
    opacity: 1;
    z-index: 100;
}

.gallery-item-inner {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 1;
    transition-property: z-index, opacity, box-shadow, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

.gallery-item:hover .gallery-item-inner {
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
    transform: scale(1.4);
}

.gallery-tooltip {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    white-space: pre-wrap;
    text-align: center;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
    font-size: 1.5rem;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.gallery-item:hover .gallery-tooltip {
    opacity: 1;
}
