.gallery {
    --img-size: 140px;
}

.gallery img {
    height: calc(var(--img-size) * 1.4);
    pointer-events: none;
}

.gallery .not-downloaded {
    opacity: 0.3;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -0.5rem;
}

.gallery-item {
    border-radius: 0.25rem;
    flex: 0 0 var(--img-size);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    cursor: pointer;
    z-index: 1;
    transition-property: z-index, opacity, box-shadow, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.gallery-item:hover {
    opacity: 1;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
    z-index: 100;
    transform: scale(1.5);
}