/* Placeholder when the gallery is off screen */
.gallery-placeholder {
    height: 529rem;
}

/* Gallery container */
.gallery {
    --img-size: 165px;
}

/* Gallery image */
.gallery img {
    height: calc(var(--img-size) * 1.4);
    width: var(--img-size);
    pointer-events: none;
}

/* Not downloaded item style */
.gallery .not-downloaded .gallery-item-inner {
    opacity: 0.3;
}

/* Grid of gallery items */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

/* Gallery item placeholder for when it shouldn't be rendered */
.gallery-item-placeholder {
    flex: 0 0 var(--img-size);
    width: var(--img-size);
    height: calc((var(--img-size) * 1.4) + 2rem);
}

/* Gallery item */
.gallery-item {
    flex: 0 0 var(--img-size);
    width: var(--img-size);
    margin: 0.25rem;
    transition: z-index 0.15s ease-in-out;
    z-index: 1;
}

.gallery-item:hover  {
    text-decoration: none;
    z-index: 100;
}

/* Inner container of gallery item */
.gallery-item-inner {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-property: opacity, box-shadow, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

.gallery-item:hover .gallery-item-inner  {
    opacity: 1;
    color: unset;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
    transform: scale(1.5);
}

/* Style for items which are very close to the sides */
.gallery-item.left .gallery-item-inner {
    transform-origin: left center;
}

.gallery-item.right .gallery-item-inner {
    transform-origin: right center;
}

/* Individual section of the gallery */
.gallery-section {
    position: relative;
}

/* Heading sentinel element */
.gallery-heading-sentinel {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    pointer-events: none;
}

/* Gallery heading */
.gallery-heading {
    background: rgba(255, 255, 255, 0.95);
    position: sticky;
    top: 60px;
    margin: 0 -15px;
    transition: box-shadow 0.15s ease-in-out;
}

.gallery-heading.stuck {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    z-index: 150;
}

.gallery-heading span {
    opacity: 0.5;
}

@supports (backdrop-filter: blur(20px)) {
    .gallery-heading {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px) saturate(200%);
    }
}
