.modal  {
    background: rgba(0, 0, 0, 0.75);
    outline: 10rem solid rgba(0, 0, 0, 0.75);
    display: block;
    opacity: 0;
    backface-visibility: hidden;
    pointer-events: none;
    transform: scale(0.95);
    transition-property: z-index, opacity, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.modal-open .modal {
    opacity: 1;
    pointer-events: all;
    z-index: 200;
    transform: scale(1);
}

.modal-switching .modal-content {
    opacity: 0;
    transform: scale(1.05);
}

.modal-dialog {
    min-width: 1200px;
    max-width: 1200px;
}

.modal-content {
    min-width: 1200px;
    max-width: 1200px;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.5);
}

/* Modal header */

.modal-header a {
    font-weight: normal;
}

.modal .close {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    transition: color 0.15s ease-in-out;
    position: absolute;
    top: 1.65rem;
    right: 1.65rem;
    font-size: 1.5rem;
    opacity: 1 !important;
    line-height: 0.5;
}

.modal .close:hover {
    color: #000;
}

.modal .close:focus {
    outline: none;
}

/* Modal body */

.modal-body {
    background: #fff;
    border: 2px solid;
}

.modal h2 .text-muted {
    color: var(--border-color) !important;
}

/* Modal lists */

.modal ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.modal ul.pb-3:last-child {
    padding-bottom: 0 !important;
}

.modal li strong {
    font-weight: 500;
}

.loading-paragraph ul:last-of-type {
    padding-bottom: 0 !important;
}

/* Modal navigation */

.modal-nav {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    transform-origin: 100% 50%;
}

.modal-nav polygon {
    fill: #fff;
}

.modal-nav:hover {
    opacity: 1;
}

.modal-nav-prev {
    left: -1rem;
    transform: translate(-100%, -50%);
}

.modal-nav-prev:hover {
    transform: translate(-100%, -50%) scale(1.25);
}

.modal-nav-next {
    right: -1rem;
    transform: translate(0, -50%) rotate(180deg);
}

.modal-nav-next:hover {
    transform: translate(0, -50%) rotate(180deg) scale(1.25);
}

/* Modal loading placeholder */

@keyframes loading-text {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40rem;
    }
}

@keyframes loaded-paragraph {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loaded-paragraph-loaded {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-text,
.loading-paragraph > span {
    background-image: linear-gradient(to right, hsl(0, 0%, 97%), hsl(0, 0%, 91%), hsl(0, 0%, 97%));
    background-size: 40rem 1rem;
    display: block;
    height: 1rem;
    margin: 0.52rem 0;
    border-radius: 0.25rem;
    animation: loading-text 0.75s linear infinite;
}

.loading-paragraph.loaded > span {
    animation: loaded-paragraph-loaded 0.15s ease-in-out forwards;
}

.loading-inline {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 3px;
}

.loading-paragraph {
    height: 4.5rem;
    position: relative;
    overflow: hidden;
}

.loading-paragraph.loaded {
    transition: height 0.15s ease-in-out;
}

.loading-paragraph > p,
.loading-paragraph > div {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: loaded-paragraph 0.15s ease-in-out forwards;
}

.loading-paragraph > span {
    position: relative;
    top: -0.25rem;
}

.loading-paragraph > span:nth-child(1n) {
    width: 75%;
}

.loading-paragraph > span:nth-child(2n) {
    width: 85%;
}

.loading-paragraph > span:nth-child(3n) {
    width: 60%;
}