.modal-overlay {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    transition: background 0.15s ease-in-out;
}

.modal-open .modal-overlay {
    background: rgba(255, 255, 255, 0.95);
}

@supports (backdrop-filter: blur(20px)) {
    .modal-overlay {
        backdrop-filter: blur(0) saturate(100%);
        transition: background 0.15s ease-in-out;
    }

    .modal-open .modal-overlay {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px) saturate(200%);
    }
}

.modal-dialog {
    min-width: 1200px;
    max-width: 1200px;
}

/* Navigation arrows */
.modal-nav {
    padding: 3rem 0;
    width: calc((100% - 1200px) / 2);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
    cursor: pointer;
}

.modal-open .modal-nav {
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

.modal-changing .modal-nav {
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
}

.modal-nav.prev {
    left: 0;
    transform-origin: left center;
}

.modal-nav.next {
    right: 0;
    transform-origin: right center;
}

.modal-nav.prev svg {
    margin-right: 0.75rem;
    transform-origin: right center;
}

.modal-nav.next svg {
    order: 2;
    margin-left: 0.75rem;
    transform-origin: left center;
}

.modal-nav svg {
    flex: 0 0 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.15s ease-in-out, margin 0.15s ease-in-out;
}

.modal-nav.prev:hover svg {
    transform: translateX(-2.5rem) scale(1.25);
}

.modal-nav.next:hover svg {
    transform: translateX(2.5rem) scale(1.25);
}

.modal-nav img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.15s ease-in-out;
}

.modal-nav:hover img {
    flex: 0 0 74px;
    transform: scale(1.75);
}

.modal-nav-placeholder {
    width: calc(74px + 0.75rem + 1.25rem);
    height: 100px;
}

/* SVG arrow colors */
.modal-nav .fill-success polygon {
    fill: var(--success);
}

.modal-nav .fill-info polygon {
    fill: var(--info);
}

.modal-nav .fill-warning polygon {
    fill: var(--warning);
}

.modal-nav .fill-danger polygon {
    fill: var(--danger);
}

.modal-nav .fill-primary polygon {
    fill: var(--primary);
}

.modal-nav .fill-secondary polygon {
    fill: var(--secondary);
}

/* Modal box */
.modal-content {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: none;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.modal-open .modal-content {
    transform: scale(1);
    opacity: 1;
}

.modal-changing .modal-content {
    opacity: 0;
    transform: scale(0.9);
}

/* Modal title */
.modal-title a {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
}

/* Modal close button */
.modal-header .close {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
}

/* Modal body */
.modal-body {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 2px;
}

/* Modal text */
.modal .rating.text-gray {
    color: rgba(0, 0, 0, 0.25);
}

.modal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Loading placeholder animation */
@keyframes loading-text {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40rem;
    }
}

@keyframes loaded-paragraph {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loaded-paragraph-loaded {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Basic loading placeholder for short line and multi-line paragraphs */
.loading-text,
.loading-paragraph .placeholders span {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.1));
    background-size: 40rem 1rem;
    display: block;
    height: 1rem;
    margin: 0.75rem 0;
    border-radius: 0.25rem;
    animation: loading-text 0.75s linear infinite;
    pointer-events: none;
}

.loading-inline {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 3px;
}

.loading-paragraph {
    position: relative;
    overflow: hidden;
}

.loading-paragraph.loading {
    height: 4.5rem !important;
}

.loading-paragraph .placeholders {
    position: absolute;
    top: 0.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    pointer-events: none;
}

.loading-paragraph.loaded .placeholders {
    opacity: 0;
}

.loading-paragraph .placeholders span {
    position: relative;
    margin: 0 0 0.5rem;
}

.loading-content {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.loading-content.loaded {
    opacity: 1;
}

/* Variate line length in paragraph placeholders */
.loading-paragraph .placeholders span:nth-child(1n) {
    width: 75%;
}

.loading-paragraph .placeholders span:nth-child(2n) {
    width: 85%;
}

.loading-paragraph .placeholders span:nth-child(3n) {
    width: 60%;
}

/* Slidedown animation variables */
.modal .react-slidedown {
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}
