.pagination .btn {
    width: 2.703125rem;
}

.pagination div {
    flex: 33% 0 0;
}

.pagination div:not(.justify-content-center) .btn {
    width: auto;
}

.btn-blank {
    padding-top: 0;
    padding-bottom: 0.4rem;
}