.table {
	table-layout: fixed;
}

.table td,
.table th {
    vertical-align: middle;
}

.table .progress {
    height: 4px;
}

/* Header row */

.table thead th {
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--border-color);
    border-right: none;
    border-left: none;

    --arrow-size: 6px;
}

.table thead th:first-child {
    text-align: left;
}

.table thead th:not(:first-child) {
    padding-right: 0;
    padding-left: 0;
}

th:before {
    content: '';
    height: 0;
    width: 0;
    border: var(--arrow-size) solid transparent;
    position: absolute;
    right: calc(50% - var(--arrow-size));
}

.sort-asc:before {
    border-bottom-color: var(--primary-color);
    top: 0;
}

.sort-desc:before {
    border-top-color: var(--primary-color);
    top: var(--arrow-size);
}

th:first-child:before,
th:first-child:after {
    left: 1.4rem;
}

/* Normal row */

.table td {
    height: 50px;
    border: none;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background: var(--row-color);
}

tbody tr:hover {
    background: var(--row-color-hover);
    cursor: pointer;
}

.link {
    margin-left: calc(37px + 0.5rem);
}

.link strong {
    background-color: var(--primary-color);
    display: inline-block;
    white-space: pre;
    padding: 0.25rem 0.1rem;
    color: #fff;
    font-weight: normal;
    border-radius: 0.25rem;
}

tr:hover .link  {
    text-decoration: underline;
}

.table img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 37px;
    height: 50px;;
}