.table {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
}

/* Header row */
.table-header {
    position: sticky;
    top: 55px;
}

.table-row.table-header:hover {
    background: none;
}

.table-header:before {
    background: var(--blur-background);
    content: '';
    width: 200vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: -50%;
    backdrop-filter: blur(var(--blur-amount));
    z-index: 1;
    pointer-events: none;
}

.table-header .table-column {
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    font-weight: 600;

    --arrow-size: 6px;
}

.table-header .table-column:hover {
    color: var(--primary);
}

.table-header .table-column:first-child {
    justify-content: flex-start;
    padding-left: calc(40px + 1rem);
}

.table-header .table-column:not(:first-child) {
    padding-right: 0;
    padding-left: 0;
}

.table-header .table-column:before {
    content: '';
    height: 0;
    width: 0;
    border: var(--arrow-size) solid transparent;
    position: absolute;
    right: calc(50% - var(--arrow-size));
}

.table-header .table-column.sort-asc:before {
    border-bottom-color: var(--primary);
    top: 0;
}

.table-header .table-column.sort-desc:before {
    border-top-color: var(--primary);
    top: var(--arrow-size);
}

.table-header .table-column:first-child:before,
.table-header .table-column:first-child:after {
    left: calc(40px + 1.75rem);
}

/* Normal row */

.table-row {
    display: flex;
}

.table-row:nth-child(even) {
    background: var(--row-color);
}

.table-header + .table-row {
    border-top: 1px solid var(--border-color);
}

.table-row:hover {
    background: var(--row-color-hover);
    cursor: pointer;
}

.table-column {
    height: 55px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.table-reduced .table-column:first-child {
    flex-grow: 1;
}

.table-column strong {
    background-color: var(--primary);
    display: inline-block;
    white-space: pre;
    padding: 0.25rem 0.1rem;
    color: #fff;
    font-weight: normal;
    border-radius: 0.25rem;
}

.table-row:hover .link  {
    text-decoration: underline;
}

.table img {
    flex: 0 0 40px;
    height: 100%;
}

.table .progress {
    width: 100%;
    height: 4px;
}

.table-progress {
    flex-direction: column;
    padding: 0 0.75rem;
}
