table {
	table-layout: fixed;
}

table tbody tr:hover {
    background-color: hsl(0, 0%, 90%) !important;
}

.table td, .table th {
    vertical-align: middle;
}

tbody tr {
    height: 50px;
}

tbody tr:hover {
    cursor: pointer;
}

table tbody tr:nth-of-type(odd) {
    background-color: hsl(0, 0%, 95%);
}

tbody tr:hover .link  {
    text-decoration: underline;
}

table .progress {
    height: 4px;
}

th:not(:first-child) {
	text-align: center;
}

.table thead th {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem !important;
    cursor: pointer;
    user-select: none;
}

th:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

th:before {
    content: '';
    height: 0;
    width: 0;
    border: solid transparent;
    border-bottom-color: var(--secondary-color-hover);
    border-width: 5px;
    position: absolute;
    top: 11px;
    right: calc(0.75rem - 5px);
}

th.sort-asc:before {
    border-bottom-color: var(--primary-color);
}

th:after {
    content: '';
    height: 0;
    width: 0;
    border: solid transparent;
    border-top-color: var(--secondary-color-hover);
    border-width: 5px;
    position: absolute;
    bottom: 11px;
    right: calc(0.75rem - 5px);
}

th.sort-desc:after {
    border-top-color: var(--primary-color);
}

th.d-flex {
    display: table-cell !important;
}

td:not(:first-child) {
	text-align: center;
}

.table td {
    border: none !important;
    position: relative;
}

td:first-child {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0.75rem 0 calc(37px + 0.75rem) !important;
}

td:first-child strong {
    background-color: var(--primary-color);
    padding: 0.2rem 0.1rem;
    color: #fff;
    font-weight: normal;
    border-radius: 0.25rem;
}

td.size-column {
	padding: 0.7rem;
}

tr img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* .not-downloaded, */
.size-mismatch {
    background-image: linear-gradient(-45deg,
     var(--danger-overlay-color) 25%,
     transparent 25%,
     transparent 50%,
     var(--danger-overlay-color) 50%,
     var(--danger-overlay-color) 75%,
     transparent 75%,
     transparent) !important;
    background-size: 25px 25px;
}