@import '_base';

@import '~bulma/sass/base/_all.sass';

@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/icon.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/other.sass';
@import '~bulma/sass/elements/progress.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/title.sass';

@import '~bulma/sass/grid/columns.sass';

// Base
html,
body {
    font-family: 'Open Sans', $body-family;
    color: #000;

    @include tablet {
        min-width: 1200px;
    }
}

.title {
    color: #000;
}

// Custom container
.container {
    min-width: 1200px;
    max-width: 1400px;
    padding: 0 $column-gap;
    margin: $column-gap auto;

    @include mobile {
        min-width: unset;
        max-width: 100%;
    }
}

// Truncating text
.has-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Add transitions to certain elements
.button,
.input,
.select,
.select select,
.table-column,
.table-row {
    transition-property: background-color, box-shadow, border-color, color, fill, opacity;
    transition-duration: $duration-fast;
    transition-timing-function: $easing;
}

// Footer list
.updated-times {
    margin: $section-gap 0;

    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

// Loading message animation
@keyframes loading-message {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40rem;
    }
}

// Message box
.message {
    background: rgba(0, 0, 0, 0.95);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    white-space: pre-wrap;
    text-align: center;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    // Weird visual bug with using opacity and backdrop filter together, so remove it before fading
    transition: opacity $duration-slow $easing, backdrop-filter 0s linear;

    @include mobile {
        width: 90%;
        left: 5%;
        transform: none;
    }

    @supports (backdrop-filter: blur(20px)) {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px) saturate(200%);
    }

    &.is-loading {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
        background-size: 40rem 1rem;
        animation: loading-message 2s linear infinite;
    }

    &.is-done {
        transition-delay: 3s;
        opacity: 0;
        backdrop-filter: none;
    }

    .icon {
        margin-left: -0.25em;
    }
}
