@import '_base';

// Bulma base
@import '~bulma/sass/base/_all.sass';

// Bulma elements
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/icon.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/other.sass';
@import '~bulma/sass/elements/progress.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/title.sass';

// Bulma grid
@import '~bulma/sass/grid/columns.sass';

// Base
html,
body {
    font-family: 'Open Sans', $body-family;
    color: #000;

    @include tablet {
        min-width: 1200px;
    }
}

.title {
    color: #000;
}

// Custom container
.container {
    min-width: 1200px;
    max-width: 1500px;
    padding: 0 $column-gap;
    margin: $column-gap auto;

    @include mobile {
        min-width: unset;
        max-width: 100%;
    }
}

// Truncating text
.has-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Add transitions to certain elements
.button,
.input,
.select,
.select select,
.table-column,
.table-row {
    transition-property: background-color, box-shadow, border-color, color, fill, opacity;
    transition-duration: $duration-fast;
    transition-timing-function: $easing;
}

// Footer list
.updated-times {
    margin: $section-gap 0;

    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

// Loading message animation
@keyframes loading-message {
    0% {
        background: $backdrop-background-dark;
    }

    50% {
        background: rgba(0, 0, 0, 0.5);
    }

    100% {
        background: $backdrop-background-dark;
    }
}

// Done message animation
@keyframes done-message {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 0.75rem);
    }
}

// Message box
.message {
    background: $backdrop-background-dark-fallback;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    position: fixed;
    bottom: calc(60px + 0.75rem);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 300;
    white-space: pre;
    text-align: center;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    opacity: 0;

    @supports (backdrop-filter: blur(20px)) {
        background: $backdrop-background-dark;
        backdrop-filter: $backdrop-filter;
    }

    &.is-loading {
        animation-name: loading-message, done-message;
        animation-duration: 1s, $duration-slow;
        animation-direction: normal, reverse;
        animation-timing-function: $easing;
        animation-fill-mode: none, forwards;
        animation-iteration-count: infinite, 1;
        animation-delay: 0s, 0.5s;
    }

    &.is-done {
        opacity: 1;
        animation: $duration-slow $easing 5s done-message forwards;
    }

    .icon {
        margin-left: -0.25em;
    }
}
