@import '_base';

.tags {
    flex-wrap: nowrap;

    .tag:first-child {
        padding-right: 1em;
    }

    .is-dark {
        position: relative;
        padding-left: 0.25rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -0.75em;
            width: 0;
            height: 0;
            border-top: 2em solid transparent;
            border-bottom: 0 solid transparent;
            border-right: 0.75em solid $dark;
        }
    }

    &.is-link:hover {
        cursor: pointer;

        .tag {
            text-decoration: underline;
        }
    }
}

.tag {
    .icon {
        width: 1rem;
        height: 1rem;
        margin: 0 0.25em 0 -0.25em !important;
    }
}
