.tags {
    flex-wrap: nowrap;

    &.is-link:hover {
        cursor: pointer;

        .tag {
            text-decoration: underline;
        }
    }
}

.tag {
    .icon {
        width: 1rem;
        height: 1rem;
        margin: 0 0.25em 0 0 !important;
    }
}
