@import '_base';

.is-favorite {
    position: relative;
    color: $red;
    cursor: help;

    .table & {
        margin-right: 0.5rem;
    }

    .gallery & {
        background: $backdrop-background-dark-fallback;
        position: absolute;
        bottom: 2rem;
        right: 0;
        width: auto;
        height: auto;
        margin: 0 0 0 1rem !important;
        padding: 0.25rem 0.75rem;
        border-top-left-radius: 6px;

        @supports (backdrop-filter: $backdrop-filter) {
            background: $backdrop-background-dark;
            backdrop-filter: $backdrop-filter;
        }

        @include mobile {
            bottom: 1.5rem;
            font-size: 0.7rem;
        }
    }

    .modal & {
        width: auto;
        height: auto;
        margin-top: 0.5rem;
    }
}

.favorite-number {
    &.has-hash {
        margin-left: 0.25rem;
    }

    .table & {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.75rem;
        text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
}
