@import '_base';

@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/input-textarea.sass';
@import '~bulma/sass/form/select.sass';

.filters {
    @include mobile {
        padding-bottom: $column-gap;

        .select {
            select {
                padding-right: 2.25rem;
            }

            &::after {
                right: 0.85em !important;
            }
        }
    }

    .buttons {
        flex-wrap: nowrap;
        align-items: normal;
        overflow: hidden;
        margin: 0;

        @include mobile {
            padding-right: 0;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;

            &::after {
                content: '';
                display: inline-flex;
                min-width: $column-gap;
                flex: 0 0 $column-gap;
            }
        }

        .button {
            flex: 1 1 auto;
            height: 2.5em;
            padding: 0.25rem;
            margin-bottom: -$column-gap;
            box-shadow: none !important;

            @include mobile {
                padding: 0.25rem 0.75rem;
            }

            .icon,
            .icon svg {
                width: 0.75rem;
                height: 0.75rem;
                margin: 0;
            }

            .count {
                opacity: 0.5;

                &::before {
                    content: '\00a0(';
                }

                &::after {
                    content: ')'
                }
            }

            &.is-dark {
                z-index: 5;
            }

            &.is-faded {
                color: fade-out($dark, 0.5);
            }
        }
    }

    .select::after {
        border-color: $dark !important;
    }

    .summary {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
