@import '_variables.scss';

@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

.filters {
    .button {
        flex: 1 1 auto;
        height: 2.5em;
        padding: 0.25rem;
        margin-bottom: -$column-gap;

        span {
            opacity: 0.5;

            &::before {
                content: '\00a0(';
            }

            &::after {
                content: ')'
            }
        }
    }

    .select::after {
        border-color: $grey-darker !important;
    }

    .summary {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
