@import '_base';

.pagination {
    display: flex;
    flex-wrap: wrap;

    .column {
        display: flex;

        &:last-child {
            justify-content: flex-end;
        }
    }
}

.pagination-list {
    display: flex;
    justify-content: center;

    @include mobile {
        flex: 0 0 100%;
        order: 3;
    }

    .button {
        flex: 0 0 2.25em;
        width: 2.25em;
        padding: 0.25rem;
        margin: 0 0.25rem;

        @include mobile {
            margin: 0 0.1rem;
        }

        &[disabled] {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.pagination-ellipsis {
    display: flex;
    flex: 0 0 2.25em;
    width: 2.25em;
    height: 2.25em;
    justify-content: center;
    align-items: center;
}

.pagination-nav {
    @include mobile {
        flex: 0 0 50%;

        &:first-child {
            order: 1;
        }

        &:last-child {
            order: 2;
        }
    }
}
