@import '_base';

.pagination {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
        justify-content: space-between;
    }

    .column {
        display: flex;

        @include mobile {
            flex: 0 1 auto;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }
}

.pagination-list {
    display: flex;
    justify-content: center;

    @include mobile {
        .button:not(.is-dark) {
            display: none;
        }
    }

    .button {
        flex: 0 0 2.25em;
        width: 2.25em;
        padding: 0.25rem;
        margin: 0 0.25rem;

        @include mobile {
            margin: 0 0.1rem;
        }

        &[disabled] {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.pagination-ellipsis {
    display: flex;
    flex: 0 0 2.25em;
    width: 2.25em;
    height: 2.25em;
    justify-content: center;
    align-items: center;

    @include mobile {
        display: none;
    }
}
