@import '_base';

// Placeholder when statistics are off screen
.statistics-placeholder {
    height: 34rem;
}

.statistics {
    padding: $column-gap;
    margin-top: $section-gap;

    @include mobile {
        font-size: 0.75rem;
    }

    .columns {
        // Highlight every other row line in the table
        &:nth-of-type(even) {
            background-color: $row-color;
        }

        // Do not highlight the last totals row
        &:last-child {
            background-color: unset;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.is-rating {
            flex-direction: row;
        }

        @include mobile {
            padding: $column-gap 0.25rem;
        }
    }

    .progress {
        height: $progress-height * 2;
    }
}
