@import '_variables.scss';

@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $border;
    position: relative;
}

.table-sentinel {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    pointer-events: none;
}

.table-header {
    display: flex;
    position: sticky;
    top: 60px;

    // Page wide element to show the shadow when stuck
    &::before {
        background: rgba(255, 255, 255, 0.95);
        content: '';
        width: 200vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: 1;
        pointer-events: none;
        transition: box-shadow 0.15s ease-in-out;
    }

    // Special style when the table header is stuck
    &.stuck::before {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

        @supports (backdrop-filter: blur(20px)) {
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(20px) saturate(200%);
        }
    }

    .table-column {
        --arrow-size: 6px;

        text-align: center;
        position: relative;
        cursor: pointer;
        user-select: none;
        z-index: 2;
        font-weight: 600;
        padding: 0 5px;

        &:hover {
            color: $info;
        }

        &::before {
            content: '';
            height: 0;
            width: 0;
            border: var(--arrow-size) solid transparent;
            position: absolute;
            left: calc(50% - var(--arrow-size));
        }

        &::after {
            content: attr(data-index);
            width: 20px;
            position: absolute;
            left: calc(50% - (var(--arrow-size) * 5));
            top: 1px;
            font-size: 10px;
            color: $info;
            text-align: right;
        }

        &:first-child {
            justify-content: flex-start;
            padding-left: calc(40px + 1rem);
            flex-grow: 1;
            flex-shrink: 1;

            &::before {
                left: calc(40px + 1.75rem);
            }

            &::after {
                left: calc(40px - (var(--arrow-size) * 4) + 1.75rem);
            }
        }

        &,
        &.sort-asc::before {
            border-bottom-color: $info;
            top: 0;
        }

        &.sort-desc::before {
            border-top-color: $info;
            top: var(--arrow-size);
        }
    }
}

.table-row {
    display: flex;
    color: unset;

    &:nth-child(odd) {
        background: $row-color;
    }

    &:hover {
        background: $row-color-hover;
        cursor: pointer;
        color: unset;
        text-decoration: none;
    }

    .table-header + & {
        border-top: 1px solid $border;
    }
}

.table-column {
    height: 45px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:first-child {
        text-align: left;
        justify-content: flex-start;
        flex-grow: 1;
        flex-shrink: 1;

    }

    .type {
        margin-left: $spacing;
        color: $grey-light;
    }

    img {
        flex: 0 0 33px;
        width: 33px;
        height: 100%;
        margin-right: $spacing;
    }

    // Search highlighted text
    strong {
        display: inline-block;
        white-space: pre;
        padding: 0.25rem 0.1rem;
        color: $white-ter;
        font-weight: normal;
        border-radius: 0.25rem;
    }

    &.highlight-success strong {
        background-color: $success;
    }

    &.highlight-info strong {
        background-color: $info;
    }

    &.highlight-warning strong {
        background-color: $warning;
        color: rgba(0, 0, 0, 0.7);
    }

    &.highlight-danger strong {
        background-color: $danger;
    }

    &.highlight-dark strong {
        background-color: $dark;
    }

    // Size progress column don't wrap long numbers
    &.progress-column {
        flex-direction: column;
        padding: 0 0.75rem;
        white-space: nowrap;
    }

    .progress {
        width: 100%;
        height: 4px;
    }
}
