@charset 'utf-8';

@import '_base';

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $border;
    position: relative;
}

.table-sentinel {
    position: absolute;
    top: -$sticky-panel-height;
    left: 0;
    right: 0;
    pointer-events: none;
}

.table-header {
    display: flex;
    align-items: center;
    position: sticky;
    height: 45px;
    top: $sticky-panel-height;
    z-index: 5;
    transition-property: height, margin-bottom;
    transition-duration: $duration-fast;
    transition-timing-function: $easing;

    @include mobile {
        display: none;
    }

    // Page wide element to show the shadow when stuck
    &::before {
        background: $backdrop-background-light-fallback;
        content: '';
        width: 200vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: 1;
        pointer-events: none;
        transition: box-shadow $duration-fast $easing;
    }

    // Special style when the table header is stuck
    &.is-stuck {
        height: $sticky-panel-height;
        margin-bottom: calc(-#{$sticky-panel-height} + 45px);

        &::before {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

            @supports (backdrop-filter: blur(20px)) {
                background: $backdrop-background-light;
                backdrop-filter: $backdrop-filter;
            }
        }
    }

    .table-column {
        padding: 0 5px;
        position: relative;
        cursor: pointer;
        user-select: none;
        z-index: 2;
        text-align: center;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;

        &:hover {
            color: $info;
        }

        &::before {
            content: attr(data-index);
            width: 20px;
            position: absolute;
            top: 1px;
            left: calc(50% + 0.5rem);
            font-size: 10px;
            text-align: left;
        }

        .icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1rem;

            &.is-asc {
                top: 0;
            }

            &.is-desc {
                top: -0.5rem;
            }
        }

        &:first-child {
            justify-content: flex-start;
            padding-left: calc(33px + 1rem);
            flex-grow: 1;
            flex-shrink: 1;

            &::before {
                left: calc(33px + 2.5rem);
            }

            .icon {
                left: calc(33px + 2rem);
            }
        }
    }
}

.table-row {
    display: flex;
    color: unset;

    @include mobile {
        border-bottom: 1px solid $border;
        padding: 0.25rem 0;
        margin: 0.25rem 0;
        display: grid;
        grid-template: "img title title title title title" #{$mobile-table-img-height / 2}
                       "img status status status status status" #{$mobile-table-img-height / 2}
                       "rating resolution source videoCodec audioCodec fileQuality" 1fr
                       "episodeSize episodeSize episodeSize size size size" 1fr
                       / #{$mobile-table-img-width} 1fr 1fr 1fr 1fr 1fr;
    }

    @include tablet {
        &:nth-child(odd) {
            background: $row-color;
        }

        @media (hover: hover) {
            &:hover {
                background: $row-color-hover;
                cursor: pointer;
                color: unset;
                text-decoration: none;
            }

            .table-header + & {
                border-top: 1px solid $border;
            }
        }
    }
}

.table-column {
    height: 45px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
        height: 30px;

        &.is-rewatchCount,
        &.is-subs {
            display: none;
        }
    }

    &.is-img {
        flex: 0 0 33px;
        width: 33px;
        height: 45px;
        margin-right: $spacing;
        grid-area: img;

        @include mobile {
            width: $mobile-table-img-width;
            height: $mobile-table-img-height;
        }
    }

    &.is-title {
        flex: 1 1 auto;
        justify-content: flex-start;
        grid-area: title;

        @include mobile {
            padding-left: 0.5rem;
        }
    }

    &.is-status {
        @include mobile {
            justify-content: flex-start;
            padding-left: 0.5rem;
        }
    }

    .type {
        margin-left: $spacing;
        color: $grey-light;
    }

    .air-status {
        margin-right: $spacing;
        color: $white-ter;
        white-space: nowrap;
        background: rgba($dark, 0.5);
        border-radius: 100px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    // Search highlighted text
    strong {
        display: inline-block;
        white-space: pre;
        padding: 0.25rem 0.1rem;
        color: $white-ter;
        font-weight: normal;
        border-radius: 0.25rem;
    }

    &.has-highlight-success strong {
        background-color: $success;
    }

    &.has-highlight-info strong {
        background-color: $info;
    }

    &.has-highlight-warning strong {
        background-color: $warning;
        color: $warning-invert;
    }

    &.has-highlight-danger strong {
        background-color: $danger;
    }

    &.has-highlight-dark strong {
        background-color: $dark;
    }

    .tag {
        @include mobile {
            font-size: 0.75rem !important;
        }
    }

    // Size progress column don't wrap long numbers
    &.has-progress {
        flex-direction: column;
        padding: 0 0.75rem;
        white-space: nowrap;
        font-size: 0.75rem;
    }

    .progress {
        width: 100%;
        height: $progress-height;
        margin-top: 0.25rem;
    }
}

// No results after search
.table-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.75rem;
    color: $danger;
}
